body {
  background:#FFEEA9;
}

article {
  background: ivory;
}

footer{
  font-size: small;
}

main{
  background: #E6E8E6;
}

p{
  font-size: 18px;  
}

h1 {
  color: darkblue;
}

h2 {
  color: #1460aa;
}

a {
  color: #07790d;
}

nav a {
  color: rgb(20, 87, 17);
}

.navigation {
  background: rgb(79, 189, 52);
  padding: 16px;
  border-radius: 8px;
}

.navigation__link{
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}