        body{background: lightslategrey;}

        article{background: ivory;}
        
        h1{color: darkblue;}
        
            
        h2{color:#1460AA;}

      a {
        color: #794b07;

      }

      nav a {
        color: rgb(20, 87, 17);

      }